* {
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}
.container {
    width: 800px;
    height: 1000px;
    background-image: url(../img/final_stage_backgroung.png);
    background-size: 100% 100%;
}



.name {
    font-size: 30px;
}

.score {
    font-size: 30px;
}
.text{
    font-size:24px;
    font-family:'DNFForgedBlade'
}
p{
    font-family:'DNFForgedBlade';
}

.score_section {
    text-align: center;
    padding-top: 700px;
}