*{
    margin: 0;
    padding: 0;
   
}
 @font-face{
        font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
        src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}
body{
    width: 100vw;
    height: 100vh;
        
}

.container{
    width: 100%;
    height: 100%;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'DNFForgedBlade';
}

/* 몬스터 css */
#monster-motion img {
    max-width: 100%; 
}

.monster{
    width: 150px;
    height: 200px;
    background-color: transparent;
    position: fixed;
    top: 30%;
    right: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.health-bar {
    

    width: 70%;
    height: 20px;
    border: 1px solid #000;
    border-radius: 7px;
  }
  
.health {
    
    height: 100%;
    background-color: #ff0000;
    border-radius: 7px; /* 체력 바의 배경색 */
}
/* 여기까지 */

/* 플레이어 css */
.action{
    position: fixed;
    height: 25%;
    left: 25%;
    bottom: 3%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(170deg, #140202 30%, #300202 90%, #4d0101);
    border-radius: 20px;
    align-items: center;
}
.action-and-info{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.btn-action{
    background-color: black;
    color: red;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.character {
    width: 20%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.char-health-bar {
    height: 100%;
    background-color: #ff0000;
    border-radius: 7px; /* 체력 바의 배경색 */
  }
  
.char-health {
    
    width: 100%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 7px;
}

.heal{
    display: flex;
    text-align: center;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.potion{
    width: 100px;
    height: 60px;
    background-color: white;
}

.atk-or-def{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}
.skill{
    width: 100%;
    height: 60px;
    background-image: url(../skills/active1.png);
    background-position: center center;
    background-size: contain;
    border-radius: 15px;
    background-color: black;
}
.skill-box{
    width: 15%;
    height: 100%;
    text-align: center;
}
/* 여기까지 */
