.wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  padding-bottom: 60px;
}

/*.chgImg:hover{
  -webkit-filter: invert(20%);
}*/

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  margin:0;
  padding:0;
}
html, body {
    background-color: #d6eec8;
    width: 100%; height: 100%;
    overflow: hidden;
  }

img {
  mix-blend-mode: multiply;
  visibility: visible;
  z-index: 5; /*layer 계층*/
  opacity: 100;
}
  
  .splash-screen {
    width: 100%;
    height: 100%; 
  }

  .splash-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
  }

 h5 {
    font-family: 'DOSGothic';
    font-size: 11px;
  }

footer{
  /*height 지정 시 footer에서 비율때문에 잘 안먹을 수 있으니 그냥 padding으로 쓰기*/
    padding: 30px 0;
    background: #333;
    color: #fff;
    position : relative;
    /*transform : translateY(-100%);*/
    left: 0; width: 100%; bottom: 0;
  }

